<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<footer th:fragment="footer">
    <div class="footer-container">
        <div class="footer-brand">
            <h1>(주) 재현스쿨</h1>
        </div>
        <div class="footer-links-contact">
            <div class="footer-links">
                <p>개인정보보호정책</p>
                <p>메일주소무단수집거부</p>
            </div>
            <div class="footer-contact">
                <p>대표자 : ceo Park</p>
                <p>Tel : 031-123-4567&nbsp;&nbsp;|&nbsp;&nbsp;Fax : 123-45-6789</p>
<!--                <p>Fax : 123-45-6789</p>-->
                <p>사업자번호 : 123-45-6789</p>
                <p>개인정보보호책임자 : 박재현</p>
                <p>1234 경기 화성시 병점로 56(병점동) 1F [병점역 1번 출구]</p>
            </div>
        </div>

        <div class="footer-sns">
            <a href="" target="_blank"><img src="/image/facebook-icon.png" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="/image/instagram-icon.png" alt="Instagram"></a>
            <a href="#" target="_blank"><img src="/image/kakao-icon.png" alt="kakao"></a>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2025 (주) 재현스쿨. All rights reserved.
    </div>
</footer>
