<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Footer Example</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<footer th:fragment="footer">
    <div class="footer-container">
        <div class="footer-brand">
            <h1>(주) 재현스쿨</h1>
        </div>
        <div class="footer-links-contact">
            <div class="footer-links">
                <a href="#">개인정보보호정책</a>
                <a href="#">메일주소무단수집거부</a>
            </div>
            <div class="footer-contact">
                <p>대표자 : ceo Park</p>
                <p>Tel : 031-123-4567</p>
                <p>Fax : 123-45-6789</p>
                <p>사업자번호 : 123-45-6789</p>
                <p>개인정보보호책임자 : 박재현</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2025 (주) 재현스쿨. All rights reserved.
    </div>
</footer>

</body>
</html>
