<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<header th:fragment="header">
    <div class="top-section">
        <div class="logo-section">
            <div class="logo-title">
                <img src="/image/jhlogo.png" alt="로고">
                <img src="/image/jhtext.png" alt="타이틀">
            </div>
            <div class="login-links">
                <a href="/student" class="btn-student">마이페이지</a>
                <a href="/login" class="btn-login">로그인</a>
            </div>

        </div>
    </div>
        <nav class="bottom-section SMN_effect-13">
            <a href="/admission" data-hover="입학 및 상담신청">입학 및 상담신청</a>
            <a href="/courses" data-hover="모집과정">모집과정</a>
            <a href="/community" data-hover="커뮤니티">커뮤니티</a>
    </nav>

</header>