<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/css/header.css}">
<header th:fragment="header">
    <div class="top-section">
        <div class="logo-section">
            <div class="logo-title">
                <img src="/image/logo.png" alt="로고">
                <img src="/image/title.png" alt="타이틀">
            </div>
            <div class="login-links">
                <a href="/student" class="btn-student">학생용</a>
                <a href="/login" class="btn-login">로그인</a>
            </div>

        </div>
    </div>
    <nav class="bottom-section">
        <button onclick="location.href='/admission'">입학 및 상담신청</button>
        <button onclick="location.href='/jobs'">취업정보센터</button>
        <button onclick="location.href='/courses'">모집과정</button>
        <button onclick="location.href='/community'">커뮤니티</button>
    </nav>
</header>