<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<header th:fragment="header">
    <div class="top-section">
        <div class="logo-section">
            <div class="logo-title">
                <a href="/main" style="text-decoration: none;">
                    <img src="/image/jhlogo.png" alt="로고">
                    <img src="/image/jhtext.png" alt="타이틀">
                </a>
            </div>
            <div class="login-links">
                <div class="login-links">

                    <a th:if="${isAdminPage}" href="/student-record"
                       class="btn-student admin-btn">학생 관리</a>

                    <a th:if="${!isAdminPage}" th:href="${session.loggedInUser != null} ? '/Edit' : '/login'" class="btn-student">마이페이지</a>

                    <!-- 로그인/로그아웃: 텍스트와 링크 모두 분기 -->
                    <a th:if="${session.loggedInUser == null}" th:href="@{/login}" class="btn-login">로그인</a>
                    <a th:if="${session.loggedInUser != null}" th:href="@{/logout}" class="btn-login">로그아웃</a>
                </div>
            </div>

        </div>
    </div>
        <nav class="bottom-section SMN_effect-13">
            <a href="/admission" data-hover="입학 및 상담신청">입학 및 상담신청</a>
            <a href="/courses" data-hover="모집과정">모집과정</a>
            <a href="/community" data-hover="커뮤니티">커뮤니티</a>
    </nav>

</header>