* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.SMN_effect-13 a {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 16px;
  text-decoration: none;
  transition: color 0.3s ease;
  overflow: hidden;
}

.SMN_effect-13 a::before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  text-align: center;
}

.SMN_effect-13 a:hover::before {
  transform: translateY(0%);
  opacity: 1;
}

.SMN_effect-13 a:hover {
  color: transparent;
}

body {
    padding-top: 120px;
}
.bottom-section {
    position: sticky;
    top: 85px;
    background-color: #0000ff;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 8px 0;
    z-index: 999;
}
.bottom-section button {
    background-color: #0000ff;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
}
.bottom-section button:hover {
    background-color: #0000ff;
}
.top-section {
    color: black;
    padding: 8px 40px;
}
.logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%
}
.logo-title {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo-title img {
    height: 80px;
    max-width:150px;
    object-fit:contain;
}
.login-links {
display: flex;
gap: 10px;
}

.login-links a {
text-decoration: none;
font-weight: bold;
font-size: 16px;
padding: 6px 12px;
border-radius: 4px;
background-color: #ffffff;
color: black;
border: none;
transition: background-color 0.2s ease;
}

.login-links a:hover {
background-color: #ffffff;
}
.btn-student.admin-btn {
  background-color: #0044cc;
  color: white;
}

.btn-student.admin-btn:hover {
  background-color: #003399;
}
