<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/css/admin.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<script th:src="@{/js/admin.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="main-container">
    <div class="top-grid">
        <div class="student-status">
            <p>학생 현황 🅽</p>
            <p>강의 및 교육과정 관리 🗂️</p>
        </div>
        <div class="calendar-section box">
            <p id="p-calendar">공지 및 일정관리 📅</p>
            <div class="calendar-header">
                <h2 id="monthYear">2025년 6월</h2>
            </div>
            <div class="calendar-grid" id="calendarDays">
                <div class="calendar-day">Mo</div>
                <div class="calendar-day">Tu</div>
                <div class="calendar-day">We</div>
                <div class="calendar-day">Th</div>
                <div class="calendar-day">Fr</div>
                <div class="calendar-day">Sa</div>
                <div class="calendar-day">Su</div>
            </div>
            <div class="calendar-grid" id="calendarDates"></div>
        </div>
    </div>
    <div class="bottom-grid">
        <div class="score-monitor">
            <p style="height: 300px;">출결 및 성적 모니터링 ✅</p>
        </div>

        <div class="job-status">
            <p style="height: 300px;">취업 및 진로지원 현황 📊</p>
        </div>
    </div>
</div>
<div th:replace="layout/footer :: footer"></div>

</body>
</html>