<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/css/admin.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<script th:src="@{/js/admin.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="main-container">
    <div class="top-grid">
        <div class="student-stats">
            <p class="title student-status">학생 현황 <span class="span-n">N</span></p>
            <div class="stats-grid">
                <div class="stats gray">
                    <div class="label">중도 탈락자 수</div>
                    <div class="value">10</div>
                </div>
                <div class="stats white">
                    <div class="label">신입생 수</div>
                    <div class="value">30</div>
                </div>
                <div class="stats blue-light">
                    <div class="label">출석률</div>
                    <div class="value">98%</div>
                </div>
                <div class="stats blue">
                    <div class="label">졸업예정자</div>
                    <div class="value">20</div>
                </div>
            </div>
            <p class="title class-manage">강의 및 교육과정 관리 🗂️</p>
            <div class="class-grid" id="classGrid">
                <div class="header">강좌명</div>
                <div class="header">수강인원</div>
                <div class="header">정원</div>
                <div class="header">인원초과 여부</div>
                <div class="header">강사배정여부</div>
                <div class="header">강사명</div>
            </div>

        </div>
        <div class="calendar-section box">
            <p id="p-calendar">공지 및 일정관리 📅</p>
            <div class="calendar-header">
                <h2 id="monthYear">2025년 6월</h2>
            </div>
            <div class="calendar-grid" id="calendarDays">
                <div class="calendar-day">Mo</div>
                <div class="calendar-day">Tu</div>
                <div class="calendar-day">We</div>
                <div class="calendar-day">Th</div>
                <div class="calendar-day">Fr</div>
                <div class="calendar-day">Sa</div>
                <div class="calendar-day">Su</div>
            </div>
            <div class="calendar-grid" id="calendarDates"></div>
        </div>
    </div>
    <div class="bottom-grid">
        <div class="score-monitor">
            <p class="title down-p-title">출결 및 성적 모니터링 ✅</p>
            <div class="button-grid">
                <div class="button-item up">
                    <button class="accordion-btn">기간 선택 ▼</button>
                    <div class="accordion-content">
                        <button class="accordion-inside-btn">2025년 1월 ~ 2025년 2월</button>
                        <button class="accordion-inside-btn">2025년 3월 ~ 2025년 4월</button>
                        <button class="accordion-inside-btn">2025년 4월 ~ 2025년 5월</button>
                        <button class="accordion-inside-btn">2025년 5월 ~ 2025년 6월</button>
                    </div>
                </div>
                <div class="button-item down">
                    <button class="accordion-btn">기간 선택 ▼</button>
                    <div class="accordion-content">
                        <button class="accordion-inside-btn">다른 날짜 선택</button>
                    </div>
                </div>
            </div>
            <div class="picture-grid">
                <div class="picture-item">사진1</div>
                <div class="picture-item">사진2</div>
            </div>
        </div>

        <div class="job-status">
            <p class="title down-p-title">취업 및 진로지원 현황 📊</p>
            <div class="button-grid">
                <div class="button-item right">
                    <button class="accordion-btn">전체 ▼</button>
                    <div class="accordion-content">
                        <button class="accordion-inside-btn">취업</button>
                    </div>
                </div>
                <div>

                </div>
            </div>
            <div class="picture-grid">
                <div class="picture-item">사진1</div>
                <div class="picture-item">사진2</div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/footer :: footer"></div>

</body>
</html>