<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/ClassPage.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script th:src="@{/js/classpage.js}"></script>

    <meta charset="UTF-8">
    <title>강의 상세페이지</title>
</head>
<body>

<div th:replace="layout/header :: header"></div>
<div class="title-container">
    <p class="title">강의 및 교육과정 관리</p>
    <span class="course-count">강좌수: 47개</span>
</div>


<div class="class-grid" id="classGrid">
    <div class="header">교육과정</div>
    <div class="header">훈련 시작 날짜</div>
    <div class="header">훈련 종료 날짜</div>
    <div class="header">수강신청 인원</div>
    <div class="header">정원</div>
</div>
<div class="page-buttons" style="text-align:center; margin:20px 0;">
    <button type="button" class="arrow-btn" onclick="prevPage()">◀</button>
    <button type="button" class="num-btn" onclick="showPage(1)">1</button>
    <button type="button" class="num-btn" onclick="showPage(2)">2</button>
    <button type="button" class="num-btn" onclick="showPage(3)">3</button>
    <button type="button" class="num-btn" onclick="showPage(4)">4</button>
    <button type="button" class="num-btn" onclick="showPage(5)">5</button>
    <button type="button" class="arrow-btn" onclick="nextPage()">▶</button>
</div>


<div th:replace="layout/footer :: footer"></div>

</body>
</html>
